body {background-color: #edf6f9;}

.subtitulo1 {color: #006d77;}

.tituloprincipal {color: #e29578;}

.tituloprincipal {text-align: center;}

.descripcion1 {text-align: center;}

.tituloprincipal {text-decoration-line: underline;}

.subtitulo1 {text-decoration-line: underline;}

.subtitulo2 {text-decoration-line: underline;}

.imagen1 {width: max-content;}

.imagen1 {height: auto;}