body {background-color: #edf6f9;
      background-image: url(C:\Users\tille\OneDrive - uns.edu.ar\Escritorio\ProyectoPotrero\imagenes\mila2.jpg);}

.subtitulo1 {color: #006d77;}

.tituloprincipal {color: #e29578;}

.tituloprincipal {text-align: center;}

.descripcion1 {text-align: center;}

.tituloprincipal {text-decoration-line: underline;}

.subtitulo1 {text-decoration-line: underline;}

.subtitulo2 {text-decoration-line: underline;}

.imagen1 {width: 400px;}

.imagen1 {height: 250px;;}

.imageningredientes {height: 200px;width: 200px;}
