body {background-color: #edf6f9;background-image: url(../imagenes/mila2.jpg );background-repeat: no-repeat;background-position: 70% 30%;background-attachment: fixed;background: rgb(238,174,202);
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,225,1) 100%);}

.subtitulo1 {color: #006d77;}

.tituloprincipal {color: #e29578;}

.tituloprincipal {text-align: center;}

.descripcion1 {text-align: center;}

.tituloprincipal {text-decoration-line: underline;}

.subtitulo1 {text-decoration-line: underline;}

.subtitulo2 {text-decoration-line: underline;}

.imagen1 {width: 400px;}

.imagen1 {height: 250px;border: 1px solid white;border-width: 5px;padding: 10px;margin: 40px;}

.imageningredientes {height: 200px;width: 200px;}

.logos {width: 50px; height: 50px;}
.elementoflotante {position: fixed; bottom: 5%;left: 90%;}
